<header class="p-4">
  <nav class="flex  flex-wrap justify-center">

    <!-- Search -->
    <section class="flex items-center gap-4 ">
      <section class="hover:text-gray-400 cursor-pointer mr-[50rem]">
        <app-search></app-search>
      </section>

      <section class="flex justify-normal">
        <button class="hover:text-gray-400 flex cursor-pointer">
          <app-user></app-user>
          <h5>{{connexionLabel}}</h5>
        </button>
      </section>

      <section class="hover:text-gray-400 cursor-pointer">
        <app-cart></app-cart>
      </section>
    </section>

    <!-- Icon -->
    <section class="w-full flex justify-center text-4xl mt-10">
      <h1>{{logoTitle}}</h1>
    </section>

    <!-- liste -->
    <section class="w-full  flex justify-center mt-10 ">
      <ul class="flex gap-6 space-x-16">
        <li
          *ngFor="let items of menuItems"
          class="hover:text-gray-400 cursor-pointer"
        >{{items}}</li>
      </ul>
    </section>
  </nav>
</header>
