<div class="flex justify-center w-full mt-10">
  <div class="w-1/2">
    <owl-carousel-o [options]="carouselOptions">
      <ng-template carouselSlide>
        <img src="../../../../public/assets/e-commerce.png" alt="Image 1" class="w-full h-96 object-cover rounded-2xl shadow-lg"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../../../public/assets/ton-image2.png" alt="Image 2" class="w-full h-96 object-cover rounded-2xl shadow-lg"/>
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../../../public/assets/ton-image3.png" alt="Image 3" class="w-full h-96 object-cover rounded-2xl shadow-lg"/>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
